.geocoder-suggestions-list, .geocoder-collations-list {
  list-style-type: none;
  padding-left: 0;
}

.geocoder-search-input {
  width: 300px;
}

.geocoder-suggestion {

}

.geocoder-suggestion:hover, .geocoder-collation:hover {
  cursor: pointer;
  background-color: grey;
}

.focus-background {
  background-color: grey;
}
